@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
}

section {
  height: 100vh;
}


/* Navbar */

nav {
    padding: 16px 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background-color: #0f3252;
    z-index: 1000;
    transition: all 0.3s ease;
}

.logo__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top;
    width: 150px;
    transition: all 0.3s ease;
}


.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    transition: all 0.3s ease;
    list-style: none;
}

.nav-link{
    color: #f6c236;
    font-size: 20px;
    font-weight: 500;

}

/* hover */


.nav-link:hover {
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;

}


/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    height: 85vh;
    background-color: #a9c3de;
    background-image: url(./assets/light\ tower\ coastal\ white\ right.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 16px;

}

.header__text-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: top;
    align-items: center;

}

.header__title {
    font-size: 48px;
    color: #0f3252;
    padding-bottom: 16px;
}

.descs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 0 64px;
}

.desc {
    width: 40vw;
    height: 100%;
    background-color: #0f3252;
    padding: 16px;
    border-radius: 15px;
    color: #fff;
    
}

.desc__border {
    border: #fff 5px solid;
    border-radius: 15px;
    padding: 8px 16px 16px 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.desc__title {
    font-size: 32px;
    font-weight: 600;
    color: #f6c236;
    margin-bottom: 4px;
}

.desc__subtitle {
    font-size: 20px;
}



.form-group {
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 95%;

}

label {
    padding-bottom: 2px;
}

input {
    border: #fff 3px solid;
    border-radius: 3px;
    background-color: #0f3252;
    color: #fff;
    padding: 4px;
}

#message {
    height: 75px;
    border: #fff 3px solid;
    border-radius: 5px;
    background-color: #0f3252;
    color: #fff;
    padding: 4px;
}

.form {
    transition: all 200ms ease;
}

.form:hover {
    background-color: #f6c236;
    color: #0f3252;
}
.form:hover .desc__title {
    color: #0f3252;
}

.submit {
    background-color: #0f3252;
    border: #f6c236 3px solid;
    border-radius: 3px;
    padding: 8px;
    margin: 8px;
    color: #fff;
    font-family: DM Serif Display;
    font-size: 24px;
    transition: all 200ms ease;
}

.form:hover .submit {
    border: #0f3252 3px solid;
    background-color: #f6c236;
    color: #0f3252;
}

.submit:hover {
    background-color: #fff !important;
    color: #0f3252 !important;
}

.org {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

/* footer */

footer {
    width: 60%;
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 0;
    padding: 4px;
}

.footer__link {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

