@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
}

section {
  height: 100vh;
}


/* Navbar */

nav {
    padding: 16px 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background-color: #0f3252;
    z-index: 1000;
    transition: all 0.3s ease;
}

.logo__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top;
    width: 150px;
    transition: all 0.3s ease;
}


.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    transition: all 0.3s ease;
    list-style: none;
}

.nav-link{
    color: #f6c236;
    font-size: 20px;
    font-weight: 500;

}

/* hover */


.nav-link:hover {
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;

}


/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    height: 85vh;
    background-color: #a9c3de;
    background-image: url(./assets/light\ tower\ coastal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 24px;

}

.header__text-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.header__title {
    font-size: 60px;
    color: #0f3252;
}

.header__subtitle {
    font-size: 40px;
    position: absolute;
    bottom: 50px;
    color: #f6c236
}

.header__btns {
    position: absolute;
    top: 40%;
    height: 75px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__desc {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__desc--text {
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    background-color:#0f3252;
    border-radius: 15px;
    padding: 24px;
}

.header__desc--title {
    color: #0f3252;
    padding-bottom: 8px;
}

.btn {
    font-family: "DM Serif Display";
    font-weight: 300;
    font-size: 45px;
    color: #f6c236;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 16px;
    background-color:#0f3252;

}

.btn:hover {
    color: #fff;
    cursor: pointer;
}

.header__picks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    translate: 0 -40%;
}

.header__pick {
    background-image: url(./assets/lifesaver.png);
    position: relative;
    height: 350px;
    width: 350px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__pick:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
    background-image: url(./assets/lifesaver\ white.png);
}






.pick__img {
    scale: 1;
    /* position: absolute;
    left: 0;
    top: 0;
    transform: -50% -50%; */
}


.pick__title {
    font-size: 36px;
    font-family: Poppins;
    color: #0f3252;
}




/* client */

